@charset "utf-8";
/* CSS Document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins';
  background-color: #2E4374;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23315193' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23335eb4' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23386fd1' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%234d84de' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%236499E9' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%236ea8ef' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%2379b6f4' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%2384c4f9' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%2391d1fc' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%239EDDFF' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  }
.mainBody {
  margin-top: 4rem;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 10%;
  margin-left: 10%;
  border: 2px solid #eee;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
header {
  padding: 2rem 1rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

header h1 {
  font-family: 'Norwester';
  font-size: 2.5rem;
  letter-spacing: 10px;
  margin-bottom: 10px;
  text-align: center;
}
input, button {
  background: none;
  appearance: none; 
  border: none;
  outline: none;
}
.expense .content { 
	flex: 1 1 0%;
}
#new_expense_input { 
  background-color: #2c4683;
  padding: 16px;
  border-radius: 16px;
  font-size: 20px;
  color: #EEEEEE;
}
#new_expense_price { /* Updated ID for the expense input */
  background-color: #2c4683;
  padding: 16px;
  border-radius: 16px;
  font-size: 20px;
  color: #EEEEEE;
  width: 10%;
}
#new_expense_date { /* Updated ID for the expense input */
  padding: 16px;
  border-radius: 16px;
  font-size: 20px;
  color: #171819;
  font-weight: 600;
}
#new_expense_submit { /* Updated ID for the expense submit button */
  border: 2px solid #072227;
  border-radius: 16px;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s;
}
#new_expense_submit:hover { /* Updated ID for the expense submit button */
  background-color: #2E4374;
  border: 2px solid #2c4683;
  color: #eee;
}
.expense_list { /* Updated class for expense list */
  padding: 16px;
}
.expense_list h2 { /* Updated class for expense list heading */
  font-family: 'Norwester';
  font-size: 1.5rem;
  letter-spacing: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#expenses .expense { /* Updated ID for expenses */
  display: flex;
  justify-content: space-between;
  background-color: #2c4683;
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 16px;
}
#expenses .expense .content .item { /* Updated selector for expense text */
  font-size: 20px;
  color: ghostwhite;
  transition: 0.4s;
  display: block;
	width: 100%;
}
#expenses .expense .content .item:not(:read-only) { /* Updated selector for editable text */
  color: #FFE400;
}
#expenses .expense .content .price { /* Updated selector for expense text */
  font-size: 20px;
  color: ghostwhite;
  transition: 0.4s;
  display: block;
	width: 100%;
}
#expenses .expense .content .price:not(:read-only) { /* Updated selector for editable text */
  color: #FFE400;
}
#expenses .expense .content .date { /* Updated selector for expense text */
  font-size: 16px;
  color: ghostwhite;
  display: block;
	width: 100%;
}
.expense .action button { /* Updated class for expense action buttons */
  margin: 0 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  transition: 0.4s;
}
.expense .action .edit { /* Updated class for edit button */
  color: #FFB000;
}
.expense .action .delete { /* Updated class for delete button */
  color: #CA0000;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #BEE3E7;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #BEE3E7;
  opacity: 1;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #BEE3E7;
}
::placeholder { /* Most modern browsers support this now. */
  color: #BEE3E7;
}


.expense .content input[type="datetime-local"] {
  background-color: #2c4683;
  padding: 16px;
  border-radius: 16px;
  font-size: 20px;
  color: #EEEEEE;
}


.devDetailsSection {
  display: flex;
  justify-content: space-between;
  font-family: 'Norwester';
  text-align: right;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  letter-spacing: 2px;
  align-items: center;
}

.devDetail {
  order: 1; 
}

/* Date and time container */
.dateTime {
  order: 2; 
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Individual elements within the date/time container */
#current_date,
#current_time {
  margin-top: 5px;
}

.devDetail a{
  text-decoration: underline;
  color: #2c4683;
}

.devDetail a:hover{
  color: #203462;
}



/* Style for the Delete All Cookies button */
.delete-cookies-button {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px; /* Adjust the margin as needed */
  padding: 10px; /* Adjust the padding as needed */
  background-color: #FF0000; /* Button background color */
  color: #FFFFFF; /* Button text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style for the button on hover (optional) */
.delete-cookies-button:hover {
  background-color: #CC0000; /* Hover background color */
}

#total_expense {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  padding: 10px;
  text-align: left; 
  margin-top: 10px;
}




/* Media Query for Mobile */
@media screen and (max-width: 768px) {
  .mainBody {
    margin-right: 2%;
    margin-left: 2%;
  }

  header h1 {
    font-size: 1.2rem;
    letter-spacing: 4px;
  }

  #new_expense_input,
  #new_expense_price,
  #new_expense_date,
  #new_expense_submit {
    font-size: 16px; /* Decreased font size for mobile */
    margin-left:2px ;
  }
  

  #new_expense_input{
    width: 70%;
  }
  #new_expense_price{
    width: 30%;
  }

  #new_expense_price {
    width: 20%; /* Adjusted width for mobile */
  }

  #new_expense_input,
#new_expense_price {
  display: inline-block; /* Display elements in a line */
  width: 38%; /* Adjust the width as needed */
  margin-right: 1%; /* Add some spacing between the inputs */
}

#new_expense_input {
  margin-right: 1%; /* Add some spacing between the inputs */
}
#expenses .expense .content .item{
  font-size: 12px;
}
#expenses .expense .content .price{
  font-size: 12px;
}
#expenses .expense .content .date{
  font-size: 8px;
}
.expense .action button{
  font-size: 12px;
}
#new_expense_input,#new_expense_price,#new_expense_submit { 
  font-size: 12px;
  padding: 8px 16px;

}

#new_expense_submit{
  margin-top: 3%;
}


  .expense_list h2 {
    font-size: 1rem; /* Decreased font size for mobile */
    letter-spacing: 6px; /* Decreased letter spacing for mobile */
  }

  .expense .content .item,
  .expense .content .price,
  .expense .content .date {
    font-size: 16px; /* Decreased font size for mobile */
  }

  .expense .action button {
    font-size: 14px; /* Decreased font size for mobile */
  }

  .devDetailsSection {
    padding: 5px 5px;
    font-size: 10px;
    color: #333;
    letter-spacing: 1px;
  }
  .delete-cookies-button{
    padding: 5px;
  }
  #total_expense{
    font-size: 12px;
  }
}





